.Rproj.user
.Rhistory
.RData
.Ruserdata
Machine-Learning-Course-Project.Rproj
Machine-Learning-Course-Project.nb.html
pml-training.csv
Predicting for quiz.Rmd
Predicting for quiz.nb.html
pml-test.csv
project.Rproj
